nav {
background-color: #FF5200;
padding: 15px;
display: flex;
align-items: center;
justify-content: space-between;
} 
.it-span {
    color: #00263B;
}
.p-welcome {
    margin-left: 30px;
    margin-top: 9px;
}
.header-left-side {
    display: flex;
    text-decoration: none;
    align-items: center;
    column-gap: 15px;
    color: #00A1AB;
}
nav {
    margin-right: 30px;
    display: flex;
    column-gap: 50px;
    align-items: center;
} 
nav a {
    text-decoration: none;
    font-size: 20px;
    color: #6F0000;
}
a:hover {
    text-decoration: underline 1px solid;
}